<div class="titleHome">
    <h1>Favorites</h1>
    <hr>
    <div class="table-responsive-sm">
        <table class="table table-dark">
            <thead>
                <th>Photo</th>
                <th>Album</th>
                <th>Song</th>
                <th>Duration</th>
                <th>Preview</th>
            </thead>

            <tbody>
                <tr *ngFor="let song of favSongs">
                    <td><img src={{song.imgFav}} alt=""></td>
                    <td><a routerLink="/album">{{song.albumFav}}</a></td>
                    <td>{{song.trackFav}}</td>
                    <td>{{song.previewFav}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>